*{margin: 0; padding: 0; box-sizing: border-box;}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: teal;
    align-items: center;
    justify-content: center;
   
    
}
.item1{
    height: 5vh;
    width: 20vh;
    background-color: yellow; 
    border: 2px solid white;
    margin: 3vh auto; 
}
body{
    height: 90vh;
    width: 100%;
    background-color: aliceblue;
    border: 2vh solid black;
    z-index: -1;
}
.item2{
    height: 20vh;
    width: 20vh;
    background-color: rgb(255, 0, 0); 
    border: 2px solid white; 
    margin: 3vh auto;
}
.circle{
       display: flex;
       margin-top: -20vh;
       justify-content: center;
}
.circle1{
    height: 3vh;
    width: 3vh; 
    border: 3px solid rgb(254, 0, 0); 
    margin-left: 3%;
    border-radius: 50%;
}
.circle2{
    height: 3vh;
    width: 3vh;
    background-color: rgb(255, 0, 0); 
    border: 1px solid white; 
    margin-left: 3%;
    border-radius: 50%;
}
.text{
    color:white;
    font-size:36px;
    text-align: center;
    margin-top: -60vh;
}