*{margin: 0; padding: 0;}
        h1{
            color: tomato; 
            font-family: Georgia, 'Times New Roman', Times, serif; 
            background-color: gold;
            text-align: center;
            font-size: 5rem;
            text-shadow: 2px 2px 2px black;
        }
        .banner{
            width: 100%;
            height: 80vh;
            background-color: tomato;
            
        }
        h2{
            color: rgb(247, 241, 240); 
            font-family: Georgia, 'Times New Roman', Times, serif; 
            background-color: #404040;
            text-align: center;
            font-size: 3rem;
            text-shadow: 2px 2px 2px black;
        }